body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e0f7fa, #80deea);
}

header {
    background: #00695c;
    color: rgb(40, 236, 236);
    padding: 1rem 0;
    text-align: center;
}

header{
    background-image: linear-gradient(#383D58, #00c0eb);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: rgb(173, 202, 214);
    text-decoration: none;
    padding: 1rem;
    display: block;
}

nav ul li a:hover {
    background: #00796b;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    background: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background: #004d40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}